* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.footer {
  background-color: darkgoldenrod;
  padding: 5px; }

/*inicio*/
/*se ultiliza overflow-x para completar la pantalla la totalidaddddd*/
.body {
  overflow-x: hidden;
  background-image: linear-gradient(347deg, whitesmoke 0%, #ffba41 50%, rgba(218, 131, 0, 0.983718) 100%);
  width: 100%; }

.img-titulo2 {
  width: 100%;
  height: 300px; }

.img-titulo {
  width: 100%;
  height: 50%; }

/*estilo menu*/
.div-menu {
  background-color: darkgoldenrod;
  font-size: 25px; }

/*pie de pagina*/
.titulo-footer {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: bold;
  color: darkslategray; }

.redes-sociales {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px; }

.facebook {
  width: 70px;
  height: 70px; }

/*fotos del titutlo inicial para las diferentes pages*/
@media screen and (min-width: 768px) {
  .img-titulo2 {
    width: 100%;
    height: 600px; }
  .img-titulo {
    width: 100%;
    height: 50%; }
  .div-menu {
    background-color: darkgoldenrod;
    font-size: 25px; } }

@media screen and (min-width: 1024px) {
  .img-titulo2 {
    width: 100%;
    height: 750px; }
  .img-titulo {
    width: 100%;
    height: 50%; }
  .menu {
    display: flex;
    justify-content: center;
    font-size: 17px; }
  .collapse {
    font-weight: bolder !important;
    color: aliceblue; }
  .nav-item:hover {
    transform: scale(0.9) !important;
    font-weight: lighter !important; } }

/*estilos index version mobile aplicando flex*/
.footer {
  background-color: darkgoldenrod;
  padding: 5px; }

.main-inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

.img-main {
  width: 65%;
  height: 35%;
  margin: 3rem;
  border: solid black 2px; }

/*version index tablet*/
@media screen and (min-width: 768px) {
  .main-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .img-main {
    width: 65%;
    height: 35%;
    margin: 3rem;
    border: solid black 2px; } }

/*version index desktop*/
@media screen and (min-width: 1024px) {
  .main-inicio {
    width: 100%;
    height: auto;
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    align-items: center; }
  .img-main {
    width: 600px;
    height: 500px; }
  .parrafo {
    margin-bottom: 50px;
    margin-right: 50px; } }

/*estilos nosotros movile */
.footer {
  background-color: darkgoldenrod;
  padding: 5px; }

.main-nos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

.imagen-nos {
  width: 65%;
  height: 35%;
  margin: 3rem;
  border: solid black 2px; }

@media screen and (min-width: 768px) {
  .main-nos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .imagen-nos {
    width: 65%;
    height: 35%;
    margin: 3rem;
    border: solid black 2px; } }

@media screen and (min-width: 1024px) {
  /*estilos "nosotros" para escritorio*/
  .main-nos {
    width: 100%;
    height: auto;
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px; }
  .imagen-nos {
    width: 600px;
    height: 500px;
    border: solid black 2px;
    margin-left: 20px; } }

/*estilos cursos version movile*/
.footer {
  background-color: darkgoldenrod;
  padding: 5px; }

.img-titulo3 {
  width: 100%;
  height: 300px; }

.section-cursos {
  display: flex; }

section img {
  display: none; }

.programa-cursos {
  text-align: center;
  width: 90%;
  height: 90%; }

.li-cursos {
  margin: 50px;
  display: flex;
  flex-direction: column;
  gap: 1rem; }

.titulo-curso {
  display: flex;
  text-align: center;
  margin: 50px;
  font-size: 30px;
  font-size: bold; }

@media screen and (min-width: 768px) {
  .img-titulo3 {
    width: 100%;
    height: 300px; }
  .section-cursos {
    display: flex; }
  section img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    border: solid black 2px; }
  .programa-cursos {
    text-align: center;
    width: 90%;
    height: 90%; }
  .li-cursos {
    margin: 50px;
    display: flex;
    flex-direction: column;
    gap: 1rem; }
  .titulo-curso {
    display: flex;
    justify-content: center;
    margin: 50px;
    font-size: 20px; } }

@media screen and (min-width: 1024px) {
  /*estilos "cursos" para escritorio*/
  .img-titulo3 {
    width: 100%;
    height: 750px; }
  .main-cursos {
    display: flex;
    align-items: center;
    flex-direction: column; }
  .contenedor-curso {
    width: 100%;
    background-color: darkgoldenrod;
    margin: 5px;
    border: solid black 2px; }
  .titulo-curso {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 30px; }
  .section-cursos {
    display: flex;
    width: 100%;
    height: 700px; }
  section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease; }
  section img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%); }
  .programa-cursos {
    width: 90%;
    height: 90%; }
  .li-cursos {
    margin: 50px;
    display: flex;
    flex-direction: column;
    gap: 1rem; }
  .titulo-curso {
    font-size: 20px; } }

/*estilos ventas version movile*/
.footer {
  background-color: darkgoldenrod;
  padding: 5px; }

.img-titulo2 {
  width: 100%;
  height: 300px; }

.titulo-ventas {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  background-color: darkgoldenrod;
  width: 100%; }

.main-ventas {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1px; }

.ventas {
  width: 500px;
  height: auto;
  gap: 1rem; }

.photo-size {
  width: 400px !important;
  height: 400px;
  border: solid black 2px;
  margin-bottom: 1rem; }

/* ventas version tablet*/
@media screen and (min-width: 768px) {
  .img-titulo2 {
    width: 100%;
    height: 750px; }
  .titulo-ventas {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    background-color: darkgoldenrod;
    width: 100%; }
  .main-ventas {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1px; }
  .ventas {
    width: 500px;
    height: auto;
    gap: 1rem; }
  .photo-size {
    width: 400px !important;
    height: 400px;
    border: solid black 2px;
    margin-bottom: 1rem; } }

/* ventas version desktop*/
@media screen and (min-width: 1024px) {
  .img-titulo2 {
    width: 100%;
    height: 750px; }
  .ventas {
    width: 100%;
    height: 100%;
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 500px);
    grid-template-rows: repeat(2, 500px);
    gap: 1rem;
    justify-content: center;
    justify-items: center; }
  /*utilice !important debido a q una de las imagenes no se me acoplaba al contenedor*/
  .photo-size {
    border: solid black 5px;
    width: 399px !important;
    height: 399px;
    margin: 100px; } }

.footer {
  background-color: darkgoldenrod;
  padding: 5px; }

.body-contacto {
  overflow-x: hidden;
  background-image: linear-gradient(347deg, whitesmoke 0%, #ffba41 50%, rgba(218, 131, 0, 0.983718) 100%);
  width: 100%; }

.img-titulo4 {
  width: 100%;
  height: 200px; }

.main-contacto {
  display: flex;
  width: 100%;
  height: 100%; }

.titulo-contac {
  display: flex;
  text-align: center;
  color: black;
  font-weight: bold; }

.contenedor-form {
  justify-content: center;
  width: 100%;
  height: auto; }

.formulario {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 16px;
  height: auto;
  width: 100%;
  font-weight: bold; }

.text-area {
  width: 100%;
  height: 100%; }

.mapa {
  display: none; }

.boton {
  margin: 10px;
  border-radius: 5px;
  opacity: 1; }

/*version contacto tablet*/
@media screen and (min-width: 768px) {
  .img-titulo4 {
    width: 100%;
    height: 50%; }
  .main-contacto {
    width: auto;
    height: auto;
    display: flex; }
  .titulo-contac {
    display: flex;
    color: black;
    font-weight: bold; }
  .formulario {
    display: flex;
    font-weight: bold; }
  .contenedor-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    width: auto;
    height: auto;
    margin: auto; }
  .espacio {
    width: 100%; }
  .mapa {
    display: none; }
  .boton {
    border-radius: 3px;
    opacity: 1; } }

@media screen and (min-width: 1024px) {
  .img-titulo4 {
    width: 100%;
    height: 50%; }
  .main-contacto {
    width: auto;
    height: auto;
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    align-items: center; }
  .titulo-contac {
    display: grid;
    color: black;
    font-weight: bold; }
  .formulario {
    display: grid;
    width: auto;
    height: auto;
    font-weight: bold; }
  .espacio {
    width: 100%; }
  .contenedor-form {
    margin: 10px; }
  .mapa {
    display: grid; }
  .boton {
    margin: 10px;
    border-radius: 5px;
    opacity: 1; } }
