/*estilos index version mobile aplicando flex*/

@import "../utilidades/variables";

@import "../utilidades/mixin";

.main-inicio {

  @include flex;
}



.img-main {

    width: 65%;
    height: 35%;
    margin: 3rem;
    border: solid black 2px;
}

/*version index tablet*/

@media screen and (min-width: 768px){
    .main-inicio {
    
        @include flex;
    }
    
    
    
    .img-main {
    
        width: 65%;
        height: 35%;
        margin: 3rem;
        border: solid black 2px;
    }
}

/*version index desktop*/

@media screen and (min-width: 1024px) {
    

    .main-inicio {
        width: $ancho;
        height: auto;
        margin: 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 1rem;
        align-items: center;


    }

    .img-main {

        width: 600px;
        height: 500px;
    }

    .parrafo {
        margin-bottom: 50px;
        margin-right: 50px;

    }
}